.btn {
	font-weight: 500;
	font-size: 24px;
	color: $black;
	height: 70px;
	background: linear-gradient(104.54deg, #E3E65E 33.56%, #EAEE3C 68.53%);
	border-radius: 90px;
	padding: 20px 0;
	text-align: center;
}