.table {
	display: flex;
	margin: 80px 0 130px;
	justify-content: start;

	&__body {
		flex-grow: 1;
	}

	tr {
		display: flex;
		
		&:nth-child(2) {
			td:last-child {
				border-top-right-radius: 10px;
			}

			td:first-child{
				border-top-left-radius: 10px;
			}
		}
		
		&:last-child {
			td {
				border-bottom: 1px solid $dardk-gray;
			}

			td:last-child{
				border-bottom-right-radius: 10px;
			}

			td:first-child{
				border-bottom-left-radius: 10px;
			}
		}
	}
	
	th {
		font-weight: 700;
		font-size: 30px;
		padding: 20px 10px;
	}
	
	td {
		border-top: 2px solid $dardk-gray;
		background: $white;
		padding: 11px 20px;
	}
	
	&__srvice {
		flex: 6 2;

		&--title {
			text-align: center;
		}

		&--data {
			border-left: 2px solid $dardk-gray;
		}
	}
	
	&__cost {
		flex: 4 1;

		&--data {
			text-align: center;
			border-right: 2px solid $dardk-gray;
		}
	}
}