.footer {
	background: $black;
	color: $white;
	overflow: hidden;

	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 80px;
	}
	
	&__copyrigth {
		font-size: 18px;
		margin: 100px 0 160px;
	}
}