.contact {
	background: url("../../dest/img/contact-bg.webp") no-repeat top center / cover;
	overflow: hidden;

	&__header {
		color: $white;
		padding-top: 80px;
	}

	&__text {
		width: 100%;
		font-size: 26px;
		margin-top: 80px;
		color: $white;
	}
	
	&__form {
		margin-top: 130px;
	}

}