.form {
	display: flex;
	justify-content: space-between;
	
	&__input,
	&__btn {
		flex-basis: 360px;
		border-radius: 90px;
		min-height: 70px;
		outline: none;
		font-family: "Roboto", sans-serif;
	}
	
	&__input {
		border: 2px solid yellow;
		padding: 15px 30px;
		font-size: 24px;
	
		&::placeholder {
			font-size: 24px;
			color: $placeholder;
		}
	}

	&__btn {
		border: none;
		cursor: pointer;
		font-weight: 500;
	}

}