.offer {
	background: url('../../../../img/offer-bg.webp') no-repeat center center / cover;
	overflow: hidden;
	
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 770px;
		margin: 0 auto;
		margin-top: 270px;
	}

	&__title {
		color: $white;
		font-size: 44px;
		font-weight: 700;
		line-height: 60px;
		text-align: center;
	}

	&__text {
		text-align: center;
		color: $white;
		margin-top: 30px;
	}

	&__btn {
		margin-top: 34px;
		width: 324px;
		box-shadow: 0px 8px 40px rgba(235, 238, 61, 0.5);
	}
}