.card {
    flex-basis: 370px;
    padding: 25px 40px;
    position: relative;

    &::before {
        content: "";
        display: block;
        position: absolute;
        width: 90px;
        height: 90px;
        border: 2px solid black;
        border-radius: 90px;
        background: url("../../img/svg/feature-1.svg") no-repeat center center;
        top: 25px;
        left: calc(50% - 45px);
    }

    $index: 1;

    @each $mod, $color in $cards-color {
        &--#{$mod}::before {
            border-color: $color;
            background-image: url("../../img/svg/feature-#{$index}.svg");
        }

        &--#{$mod} h3 {
            color: $color;
        }

        $index: $index + 1;
    }
    
    &__title {
        font-weight: 500;
        text-align: center;
        margin-top: 120px;
    }
    
    &__text {
        margin-top: 20px;
        font-weight: 300;
        text-align: center;
        font-size: 20px;
        line-height: 25px;
    }
}
