.content {
    display: flex;
    justify-content: space-between;
    margin-top: 88px;
    
    &__text {
        flex-basis: 570px;
        line-height: 38px;
    }
    
    &__image-wrap {
        flex-basis: 570px;
    }
    
    &__image {
        width: 100%;
    }
}
