.album {
	background: $white;

	&__header {
		padding-top: 70px;
	}

	&__wrap {
		display: flex;
		justify-content: space-between;
		margin: 50px 0 110px;
	}

	&__col {
		flex: 1;
		flex-direction: column;
	}
	
	&__img {
		display: flex;
		align-items: flex-start;
		position: relative;
		border-radius: 9px;
		height: 40px;
		margin-bottom: 30px;
		background: no-repeat center center / cover;
		cursor: pointer;
		transition: .5s;
		
		&:last-child {
			margin-bottom: 0;
		}

		&_first {
			height: 470px;
			background-image: url("../../dest/img/album-1.webp");
			box-shadow: 4px 4px 30px rgba(129, 130, 55, 0.2);
		}

		&_second {
			height: 290px;
			background-image: url("../../dest/img/album-2.webp");
			box-shadow: 4px 8px 30px rgba(150, 144, 141, 0.2);
		}
		
		&_third {
			height: 280px;
			background-image: url("../../dest/img/album-3.webp");
			box-shadow: 4px 4px 30px rgba(220, 217, 224, 0.2);
		}
		
		&_fourth {
			height: 480px;
			background-image: url("../../dest/img/album-4.webp");
			box-shadow: 2px 4px 30px rgba(94, 1, 0, 0.2);
		}
		
		&_fifth {
			height: 350px;
			background-image: url("../../dest/img/album-5.webp");
			box-shadow: 2px 4px 30px rgba(227, 167, 82, 0.2);
		}
		
		&_sixth {
			height: 410px;
			background-image: url("../../dest/img/album-6.webp");
			box-shadow: 2px 6px 30px rgba(67, 110, 187, 0.2);
		}
		

		&:hover .album__overlay {
			opacity: 1;
			transition: .3s;
		}
	}

	&__overlay {
		opacity: 0;
		width: 100%;
		height: 100%;
		background: url("../../dest/img/svg/visibility.svg") no-repeat center,
					linear-gradient(180deg, rgba(12, 12, 12, 0.85) 0%, rgba(80, 80, 80, 0.5) 100%);
		border-radius: inherit;
	}
}