@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

@mixin icon ($width, $height, $top, $left) {
	content: "";
	display: block;
	position: absolute;
	width: #{$width};
	height: #{$height};
	top: #{$top};
	left: #{$left};
}

$white: #fff;
$black: #000;
$yellow: #EBEF3C;
$logo: #FFD600;
$dardk-gray: #E2E2E2;
$ligth-gray: #C4C4C4;
$placeholder: #b9b9b9;
$price-bg: #F6F6F6;

$cards-color: (
	blue: #4581C7,
	green: #6FB768,
	red	: #BF5353,
);

$galery: (
	item: (first, second, third, fourth, fifth, sixth),
	heihgt: (470px, 290px, 280px, 480px, 350px, 410px),
	shadow: (
		4px 4px 30px rgba(129, 130, 55, 0.2),
		4px 8px 30px rgba(150, 144, 141, 0.2),
		4px 4px 30px rgba(220, 217, 224, 0.2),
		2px 4px 30px rgba(94, 1, 0, 0.2),
		2px 4px 30px rgba(227, 167, 82, 0.2),
		2px 6px 30px rgba(67, 110, 187, 0.2)
	)
)