@import "./default/reset";
@import "variables";
@import "fonts";
@import "./default/base";

@import "container";

@import "./components/helpers/section-header";
@import "./components/helpers/button";

@import "./components/header/header";
@import "./components/header/header-wrap";
@import "./components/header/logo";
@import "./components/header/nav";

@import "./components/offer/offer";
@import "./components/offer/arrow";

@import "./components/about/about";
@import "./components/about/content";
@import "./components/about/cards";

@import "./components/price/price";
@import "./components/price/table";

@import "./components/album/album";
@import "./components/album/galery";
@import "./components/album/image";

@import "./components/contact/contact";
@import "./components/contact/form";
@import "./components/contact/phone";

@import "./components/footer/footer";
