@import "variables";
@import "reset";
@import "fonts";
@import "base";


/* Container */

.container {
	max-width: 1270px;
	margin: 0 auto;
	padding: 0 50px;
}

/* User Styles */

.logo {
	display: flex;
	align-items: center;
	font-weight: 900;
	text-transform: uppercase;
	width: 170px;

	&__img {
		width: 50px;
		margin-right: 7px;
	}

	&__text {
		line-height: 26px;
	}

	&__style {
		color: $logo;
	}
}

.btn {
	font-weight: 500;
	font-size: 24px;
	color: $black;
	height: 70px;
	background: linear-gradient(104.54deg, #E3E65E 33.56%, #EAEE3C 68.53%);
	border-radius: 90px;
	padding: 20px 0;
	text-align: center;
}

.section-header {
	text-align: center;
	margin: 0 auto;
	max-width: 570px;
	
	&__title {
		position: relative;
		font-size: 36px;
		font-weight: 700;
		text-transform: uppercase;
		max-width: 370px;
		margin: 0 auto;
		
		&::after {
			content: "";
			display: block;
			position: relative;
			width: 100px;
			height: 2px;
			background: $yellow;
			top: 20px;
			left: calc(50% - 50px);
		}
	}

	&__text {
		margin-top: 50px;
		line-height: 30px;
	}
}

/* Header */

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	&__logo {
		margin-right: 130px;
	}

	&__phone {
		color: $white;
		position: relative;
		padding-left: 40px;

		&::before {
			content: "";
			display: block;
			position: absolute;	
			width: 26px;
			height: 26px;
			left: 0;
			background: url('../../Wash_machines/img/svg/call-white.svg') no-repeat center center / cover;
		}
	}
}

.nav {
	display: flex;
	margin-right: 60px;

	& li:not(:last-child) {
		margin-right: 50px;
	}
}

/* Offer */

.offer {
	background: url('../../Wash_machines/img/offer-bg.webp') no-repeat center center / cover;
	overflow: hidden;

	&__header {
		margin-top: 70px;
	}
	
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 770px;
		margin: 0 auto;
		margin-top: 270px;
	}

	&__title {
		color: $white;
		font-size: 44px;
		font-weight: 700;
		line-height: 60px;
		text-align: center;
	}

	&__text {
		text-align: center;
		color: $white;
		margin-top: 30px;
	}

	&__btn {
		margin-top: 34px;
		width: 324px;
		box-shadow: 0px 8px 40px rgba(235, 238, 61, 0.5);
	}

	&__arrow {
		position: relative;
		height: 1px;
		margin: 205px auto 90px auto;
		height: 40px;

		&::before,
		&::after {
			content: "";
			display: block;
			position: absolute;
			width: 40px;
			height: 40px;
			transform: rotate(-45deg);
			border-left: 2px solid $white;
			border-bottom: 2px solid $white;
			top: 0;
			left: calc(50% - 15px);
		}

		&::before {
			top: -20px;
		}
	}
}

/* About */

.about {
	&__header {
		margin-top: 80px;
	}

	&__content {
		display: flex;
		justify-content: space-between;
		margin-top: 88px;
	}

	&__text {
		flex-basis: 570px;
		line-height: 38px;
	}

	&__image-wrap {
		flex-basis: 570px;
	}

	&__image {
		width: 100%;
	}

	&__features {
		display: flex;
		justify-content: space-between;
		margin: 120px 0 45px;
	}

	&__card {
		flex-basis: 370px;
		padding: 25px 40px;
		position: relative;

		&::before {
			content: "";
			display: block;
			position: absolute;
			width: 90px;
			height: 90px;
			border: 2px solid black;
			border-radius: 90px;
			background: url("../../Wash_machines/img/svg/feature-1.svg") no-repeat center center;
			top: 25px;
			left: calc(50% - 45px);
		}

		$index: 1;

		@each $mod, $color in $cards-color {
			&_#{$mod}::before {
				border-color: $color;
				background-image: url("../../Wash_machines/img/svg/feature-#{$index}.svg");
			}

			&_#{$mod} h3 {
				color: $color;
			}

			$index: $index + 1;
		}
	}
	
	&__card-title {
		font-weight: 500;
		text-align: center;
		margin-top: 120px;
	}

	&__card-text {
		margin-top: 20px;
		font-weight: 300;
		text-align: center;
		font-size: 20px;
		line-height: 25px;
	}
}

/* Price */

.price {
	background: $price-bg;
	border-top: 2px solid $ligth-gray;
	overflow: hidden;
	
	&__header {
		margin-top: 85px;
	}

	&__table {
		margin: 80px 0 130px;
		justify-content: start;
	}
}

.table {
	width: 100%;

	&__row {
		display: flex;
		
		&:nth-child(2) {
			.second-column {
				border-top-right-radius: 10px;
			}

			.first-column {
				border-top-left-radius: 10px;
			}
		}
		
		&:last-child {
			td {
				border-bottom: 1px solid $dardk-gray;
			}

			.second-column {
				border-bottom-right-radius: 10px;
			}

			.first-column {
				border-bottom-left-radius: 10px;
			}
		}
	}
	
	th {
		padding: 0 20px 35px 34px;
		text-align-last: left;
		font-weight: 700;
		font-size: 30px;
	}
	
	td {
		border-top: 2px solid $dardk-gray;
		background: $white;
		padding: 11px 20px;
	}
	
	.first-column {
		flex: 0 1 700px;
	}
	
	.second-column {
		flex: 0 2 480px;
	}

	td.first-column {
		border-left: 2px solid $dardk-gray;
	}
	
	td.second-column {
		border-right: 2px solid $dardk-gray;
	}
}

/* Album */

.album {
	overflow: hidden;
	background: $white;

	&__header {
		margin-top: 70px;
	}

	&__wrap {
		display: flex;
		justify-content: space-between;
		margin: 50px 0 110px;
	}

	&__col {
		flex-basis: 370px;
		flex-direction: column;
	}
	
	&__img {
		display: flex;
		align-items: flex-start;
		position: relative;
		border-radius: 9px;
		height: 40px;
		margin-bottom: 30px;
		background: no-repeat center center / cover;
		cursor: pointer;
		transition: .5s;
		
		&:last-child {
			margin-bottom: 0;
		}

		&_first {
			height: 470px;
			background-image: url("../../Wash_machines/img/album-1.webp");
			box-shadow: 4px 4px 30px rgba(129, 130, 55, 0.2);
		}

		&_second {
			height: 290px;
			background-image: url("../../Wash_machines/img/album-2.webp");
			box-shadow: 4px 8px 30px rgba(150, 144, 141, 0.2);
		}
		
		&_third {
			height: 280px;
			background-image: url("../../Wash_machines/img/album-3.webp");
			box-shadow: 4px 4px 30px rgba(220, 217, 224, 0.2);
		}
		
		&_fourth {
			height: 480px;
			background-image: url("../../Wash_machines/img/album-4.webp");
			box-shadow: 2px 4px 30px rgba(94, 1, 0, 0.2);
		}
		
		&_fifth {
			height: 350px;
			background-image: url("../../Wash_machines/img/album-5.webp");
			box-shadow: 2px 4px 30px rgba(227, 167, 82, 0.2);
		}
		
		&_sixth {
			height: 410px;
			background-image: url("../../Wash_machines/img/album-6.webp");
			box-shadow: 2px 6px 30px rgba(67, 110, 187, 0.2);
		}
		

		&:hover .album__overlay {
			opacity: 1;
			transition: .3s;
		}
	}

	&__overlay {
		opacity: 0;
		width: 100%;
		height: 100%;
		background: url("../../Wash_machines/img/svg/visibility.svg") no-repeat center,
					linear-gradient(180deg, rgba(12, 12, 12, 0.85) 0%, rgba(80, 80, 80, 0.5) 100%);
		border-radius: inherit;
	}
}

/* Contacts */

.contact {
	background: url("../../Wash_machines/img/contact-bg.webp") no-repeat top center / cover;
	overflow: hidden;

	&__header {
		color: $white;
		margin-top: 80px;
	}

	&__text {
		width: 100%;
		font-size: 26px;
		margin-top: 80px;
		color: $white;
	}
	
	&__form {
		margin-top: 130px;
	}

}

.form {
	display: flex;
	justify-content: space-between;
	
	&__input,
	&__btn {
		flex-basis: 360px;
		border-radius: 90px;
		min-height: 70px;
		outline: none;
		font-family: "Roboto", sans-serif;
	}
	
	&__input {
		border: 2px solid yellow;
		padding: 15px 30px;
		font-size: 24px;
	
		&::placeholder {
			font-size: 24px;
			color: $placeholder;
		}
	}

	&__btn {
		border: none;
		cursor: pointer;
		font-weight: 500;
	}

}

.phone {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	margin: 85px 0 254px;
	
	&__item {
		display: flex;
		align-items: center;
	}

	&__number {
		color: $white;
		font-size: 36px;
	}

	&__icon {
		width: 40px;
		height: 40px;
		margin-right: 20px;
		background: url("../../Wash_machines/img/svg/call-white.svg") no-repeat center center / cover;
	}

	&__btn,
	&__item {
		flex-basis: 360px;
	}
}

/* Footer */

.footer {
	background: $black;
	color: $white;
	overflow: hidden;

	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 80px;
	}
	
	&__copyrigth {
		font-size: 18px;
		margin: 100px 0 160px;
	}
}

.social {
	
}